<p>formulario works!</p>
<section class="container-fluid">
    <form class="row ">
        <div class="col-6 g-3 ">
            <label for="">Nombre</label>
            <input class="form-control" type="text" placeholder="Nombre">
        </div>
        <div class="col-6 g-3">
            <label for="">Email</label>
            <input class="form-control" type="email" placeholder="Email">
        </div>
        <div class="col-6 g-3">
            <label for="">Telefono</label>
            <input class="form-control" type="tel" placeholder="Telefono">
        </div>
        <div class="col-6 g-3">
            <label for="">Password</label>
            <input class="form-control" type="password" placeholder="password">
        </div>
    </form>
</section>
