<section class="container">
   <div class="row">
    <form class="d-flex align-items-center gap-2">
        <div class="col-auto">
            <input type="text" class="form-control">
        </div>
        <div class="col-auto">
            <input type="text" class="form-control">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Enviar</button>
        </div>
    </form>
   </div>

   <table class="table table-striped  mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Remision</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil interactive-icon" (click)="editarFila($event)"></i>
          <i class="bi bi-gear interactive-icon" (click)="configurarFila($event)"></i>
          <i class="bi bi-trash interactive-icon" (click)="eliminarFila($event)"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>123455</td>
        <td>Felipe</td>
        <td>Sanchez</td>
        <td>1</td>
        <td  class="d-flex gap-2">
          <i class="bi bi-pencil no-pointer-events "></i>
          <i class="bi bi-gear "></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      
    </tbody>
  </table>
  
</section>